                <div class="download-card">
                    <div class="platform-icon">{{ <el: icon> }}</div>
                    <h3>{{ <el: title> }}</h3>
                    <p class="platform-desc">{{ <el: desc> }}</p>
                    <a href="{{ <el: href> }}" class="download-btn"{{ <el: btn_style> }}>
                        <svg viewBox="0 0 16 16" fill="currentColor"><path d="M2.75 14A1.75 1.75 0 011 12.25v-2.5a.75.75 0 011.5 0v2.5c0 .138.112.25.25.25h10.5a.25.25 0 00.25-.25v-2.5a.75.75 0 011.5 0v2.5A1.75 1.75 0 0113.25 14H2.75z"/><path d="M7.25 7.689V2a.75.75 0 011.5 0v5.689l1.97-1.969a.749.749 0 111.06 1.06l-3.25 3.25a.749.749 0 01-1.06 0L4.22 6.78a.749.749 0 111.06-1.06l1.97 1.969z"/></svg>
                        {{ <el: btn_label> }}
                    </a>
                    <span class="version">{{ <el: version> }}</span>
                </div>
