            <div class="feature-formula">
                <div class="formula">
                    <span class="action">Action</span> the
                    <span class="result">&lt;Result&gt;</span> for the
                    <span class="object">&lt;Object&gt;</span>
                </div>
                <div class="formula-example">
{{ for each <ex> at <i> in <el: examples> { }}{{ Print "<br>\n                    " to the <template> when <i> > 0. }}{{ <ex> }}{{ } }}
                </div>
            </div>

